<% title(t('.title', :default => "Team"), false ) %>

<h1 class="page-title"><%= @team.name %></h1>

<dl class="dl-horizontal">
	<dt><strong>Coxswain Required:</strong></dt>
	<dd><%= display_boolean @team.require_cox %></dd>
	<dt><strong>Coach Required:</strong></dt>
	<dd><%= display_boolean @team.require_coach %></dd>
</dl>

<div class="form-actions">
	<%= link_to t('.back', :default => t("helpers.links.back")), teams_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_team_path(@team), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
								@team,
								:method => 'delete',
								:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
								:class => 'btn btn-danger' %>
</div>
