<div id="content" style="margin: 1em 10em">
	<h2>Upload a tide file</h2>

	<p>Please upload a tide file of csv format or the text format produced by xtide.  Examples of the formats are available below.</p>

	<ul>
		<li><%= link_to "CSV Example", "/tide_files/tides.csv"  %></li>
		<li><%= link_to "Text Example", "/tide_files/tides.txt" %></li>
	</ul>
	
	<% form_tag({:action => "import"}, {:multipart => true}) do %>
		<p><label for="time_zone">Time Zone used in file</label><br />
		<%= time_zone_select :tz, :time_zone, ActiveSupport::TimeZone.us_zones %></p>
		
		<p>
			<label for='tide'>Tide File</label><br />
			<%= file_field_tag 'tide' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= submit_tag "Upload", :onclick => "alert('This will take a while.');return true;" %>
		</p>
	<% end %>
</div>