<% title(t '.title', :default => "Hull" ) %>

<dl class="dl-horizontal">
	<dt><strong>Name:</strong></dt>
	<dd><%= @hull.name %></dd>
	<dt><strong>Category:</strong></dt>
	<dd><%= @hull.category_id %></dd>
	<dt><strong>Seats:</strong></dt>
	<dd><%= @hull.seats %></dd>
</dl>

<div class="form-actions">
	<%= link_to t('.back', :default => t("helpers.links.back")), hulls_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_hull_path(@hull), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
								@hull,
								:method => 'delete',
								:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
								:class => 'btn btn-danger' %>
</div>
