<%= simple_form_for(@bulletin, :html => { :class => 'form-horizontal' }) do |f| %>
	<%= f.error_notification %>

	<div class="form-inputs">
		<%= f.input :title %>
		<%= f.input :content %>
		<%= f.input :display_until %>
		<%= f.input :creator_id %>
	</div>

	<div class="form-actions">
		<%= f.button :submit, :class => 'btn-primary' %>
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")), bulletins_path, :class => 'btn' %>
	</div>
<% end %>
