<% title(t '.title', :default => "Bulletins") %>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Display until</th>
			<th>Title</th>
			<th>Posted by</th>
			<th>Created</th>
			<th class="no_sort"><%=t '.actions', :default => t("helpers.actions") %></th>
		</tr>
	</thead>
	<tbody>
	<% @bulletins.each do |bulletin| %>
		<tr>
			<td class="smallertext"><%= bulletin.display_until.blank? ? "<em>Unknown</em>".html_safe : l(bulletin.display_until, :format => :statistic) %></td>
			<td><%= bulletin.title %></td>
			<td class="smallertext"><%= bulletin.creator ? bulletin.creator.full_name : "<em>Unknown</em>".html_safe %></td>
			<td><%= (bulletin.created_at.nil?) ? "<em>Never</em>".html_safe : "#{time_ago_in_words(bulletin.created_at)} ago" %></td>
			<td>
				<%= link_to t('.show', :default => t("helpers.links.show")), bulletin, :class => 'btn btn-mini btn-info' %>
				<%= link_to t('.edit', :default => t("helpers.links.edit")), edit_bulletin_path(bulletin), :class => 'btn btn-mini' %>
				<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
											bulletin,
											:method => :delete,
											:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
											:class => 'btn btn-mini btn-danger' %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")), new_bulletin_path, :class => 'btn btn-primary' %>