<div class="editform">
	<h1>New Rower</h1>

	<%= error_messages_for :user %>

	<% form_tag :action => 'create' do %>
		<p><label for="login">Login</label><br/>
		<%= text_field 'user', :login %></p>

	  <%= render :partial => 'form' %>
	  <%= submit_tag "Create", :class => "eventbutton" %>
	<% end %>

	<%= link_to 'cancel', admin_url %>
</div>
