<%= simple_form_for(@event, :html => { :class => 'form-horizontal' }) do |f| %>
	<%= f.error_notification %>

	<div class="form-inputs">
		<%= f.input :start_date, :as => :string, :placeholder => "yyyy-mm-dd", :input_html => { :class => "span2 datepicker", :readonly => true, :value => l(f.object.start_date, :format => :date_only) } %>
		<%= f.input :start_time, :label => false, :wrapper => :append, :class => "inline" do %>
		   <%= f.input_field :start_time, :as => :string, :placeholder => "hh:mm", :class => "span1 timepicker", :readonly => true, :value => l(f.object.start_time, :format => :time_only) %>
		    <%= content_tag :span, "<i class='icon-time'></i>".html_safe, :class => "add-on" %>
		<% end %>
		<%= f.input :end_date, :as => :string, :placeholder => "yyyy-mm-dd", :input_html => { :class => "span2 datepicker", :readonly => true, :value => l(f.object.end_date, :format => :date_only) } %>
		<%= f.input :end_time, :label => false, :wrapper => :append, :class => "inline" do %>
		   <%= f.input_field :end_time, :as => :string, :placeholder => "hh:mm", :class => "span1 timepicker", :readonly => true, :value => l(f.object.end_time, :format => :time_only) %>
		    <%= content_tag :span, "<i class='icon-time'></i>".html_safe, :class => "add-on" %>
		<% end %>
		<%= f.association :team %>
		<%= f.association :boat %>
	</div>

	<div class="form-actions">
		<%= f.button :submit, :class => 'btn-primary' %>
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")), events_path, :class => 'btn' %>
	</div>
<% end %>
<script type="text/javascript">
	$(".datepicker").datepicker({"format": "yyyy-mm-dd", "weekStart": 0, "autoclose": true, "startDate": '<%= Date.today.strftime("%Y-%m-%d") %>'});
	$('.timepicker').timepicker({"minuteStep": 5});
</script>