<%= simple_form_for(@event, :html => { :class => 'form-horizontal' }) do |f| %>
	<%= f.error_notification %>

	<div class="form-inputs">
		<%= f.input :starts_at, :wrapper => :append, :class => "inline" do %>
		   <%= f.input_field :starts_at, :as => :string, :placeholder => "MMM dd yyyy hh:mm", :class => "span2 datetimepicker", :readonly => true, :value => l(f.object.start_time, :format => :input) %>
		    <%= content_tag :span, "<i class='icon-time'></i>".html_safe, :class => "add-on" %>
		<% end %>
		<%= f.input :ends_at, :wrapper => :append, :class => "inline" do %>
		   <%= f.input_field :ends_at, :as => :string, :placeholder => "MMM dd yyyy hh:mm", :class => "span2 datetimepicker", :readonly => true, :value => l(f.object.end_time, :format => :input) %>
		    <%= content_tag :span, "<i class='icon-time'></i>".html_safe, :class => "add-on" %>
		<% end %>
		<%= f.association :team %>
		<%= f.association :boat %>
	</div>

	<div class="form-actions">
		<%= f.button :submit, :class => 'btn-primary' %>
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")), events_path, :class => 'btn' %>
	</div>
<% end %>
<script type="text/javascript">
	$(".datetimepicker").datetimepicker({
					format: "M dd yyyy - hh:ii", 
					autoclose: true,
					todayBtn: false,
					startDate: "<%= l(Time.now, :format => :input) %>"
				});
</script>