<div class="row">
	<div class="span4 offset4 login-box">
		<div class="row">
			<div class="span4">
				<h2>Sign in</h2>
			</div>
		</div>
		<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
		<div class="row">
			<div class="span4">
			  <%= f.input :email, :autofocus => true, :input_html => { :class => "span3"} %>
			  <%= f.input :password, :input_html => { :style => "span3"} %>
			  <span class="make-toggle"><%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %></span>
			  
			</div>
		</div>
		<%= f.button :submit, "Sign in", :class => 'btn btn-primary btn-large pull-right' %>
		<% end %>
		<div class="clearfix"></div>
		<%= render "devise/shared/links" %>
	</div>
</div>
