<%% title(t '.title', :default => "<%= plural_table_name.titleize %>") %>

<table class="table table-striped">
	<thead>
		<tr>
		<% attributes.each do |attribute| -%>
			<th><%= attribute.human_name %></th>
		<% end -%>
			<th class="no_sort"><%%=t '.actions', :default => t("helpers.actions") %></th>
		</tr>
	</thead>
	<tbody>
	<%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
		<tr>
		<%- attributes.each do |attribute| -%>
			<td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
		<%- end -%>
			<td>
				<%%= link_to t('.show', :default => t("helpers.links.show")), <%= singular_table_name %>, :class => 'btn btn-mini btn-info' %>
				<%%= link_to t('.edit', :default => t("helpers.links.edit")), edit_<%= singular_table_name %>_path(<%= singular_table_name %>), :class => 'btn btn-mini' %>
				<%%= link_to t('.destroy', :default => t("helpers.links.destroy")),
											<%= singular_table_name %>,
											:method => :delete,
											:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
											:class => 'btn btn-mini btn-danger' %>
			</td>
		</tr>
	<%% end %>
	</tbody>
</table>

<%%= link_to t('.new', :default => t("helpers.links.new")), new_<%= singular_table_name %>_path, :class => 'btn btn-primary' %>