<div id="left_sidebar" style="width: 260px;">
	<h4>Next Rowing <%= link_to (image_tag "feed-icon-small.png", :alt => "RSS feed", :title => "Click to Subscribe...", :border => 0), user_rss_url(:login => current_user.login) %></h3>
		<ul class="myevents">
		<%= "<li>none</li>" if @myevents.length == 0 %>
		<%= render :partial => 'myevent', :collection => @myevents %>
		</ul>
	<hr />
	<h4>Tides</h4>
	<ul id="tide_summary">
		<%= render :partial => 'shared/tide', :collection => @tides, :locals => {:show_date => false} %>
	</ul>
	<%= render :partial => 'shared/tide_calendar' %>
	<br />
	<%= render :partial => 'calendar' %>
</div>
<div id="content" style="padding-left: 65px;">
	<h1>Crew Scheduler</h1>
	<div id="bulletins">
		<%= render :partial => 'bulletin', :collection => @bulletins %>
		<% if (@total_bulletins > 3) %>
			<%= link_to( 'more...', "/bulletins", {:class=>"small_link right"}) %><br />
		<% end %>
	</div>
	<div id="wanted">
		<h3>Rowers wanted:</h3>
		<%= "none" if @needed.length == 0 %>
		<ul class="upcoming">
			<%= render :partial => 'needed', :collection => @needed %>
		</ul>
	</div>
	<div id="summary_schedule">
		<div id="today">
			<h3>Today's Rowing Summary</h3>
			<%= "none" if @today.length == 0 %>
			<ul class="upcoming">
				<%= render :partial => 'today', :collection => @today %>
			</ul>
		</div>
		<div id="tomorrow">
			<h3>Tomorrow's Rowing Summary</h3>
			<%= "none" if @tomorrow.length == 0 %>
			<ul class="upcoming">
				<%= render :partial => 'tomorrow', :collection => @tomorrow %>
			</ul>
		</div>
		<div id="day_after_tomorrow">
			<h3><%= (Date.tomorrow + 1.day).strftime("%A") %>'s Rowing Summary</h3>
			<%= "none" if @day_after_tomorrow.length == 0 %>
			<ul class="upcoming">
				<%= render :partial => 'day_after_tomorrow', :collection => @day_after_tomorrow %>
			</ul>
		</div>
	</div>
</div>