<div class="editform">
	<%= error_messages_for :user %>

	<% form_for :user do |f| -%>
	<p><label for="login">Login/Username</label><br/>
	<%= f.text_field :login %></p>

	<p><label for="email">Email</label><br/>
	<%= f.text_field :email %></p>

	<label for="side">Side</label><br/>
	<div class="radiogroup">
		<%= image_tag("port.png", :size => "35x35", :title=>"port") %> <%= radio_button("user", "side", "port", :class =>"radio") %>
		<%= image_tag("stbd.png", :size => "35x35", :title=>"starboard") %> <%= radio_button("user", "side", "stbd", :class =>"radio") %>
		<%= image_tag("ambi.png", :size => "35x35", :title=>"either") %> <%= radio_button("user", "side", "ambi", :class =>"radio") %>
	</div>

	<p><label for="user_will_cox">Willing to be a coxswain</label> 
	<%= check_box 'user', 'will_cox'  %></p>

	<p><label for="user_will_coach">Willing to Coach</label> 
	<%= check_box 'user', 'will_coach'  %></p>

	<p><label for="password">Password</label><br/>
	<%= f.password_field :password %></p>

	<p><label for="password_confirmation">Confirm Password</label><br/>
	<%= f.password_field :password_confirmation %></p>

	<p><label for="user_team">Crew</label><br/>
	<%= select("user", "team_id", Team.find(:all).collect {|t| [ t.name, t.id ] }, {:include_blank => 'None'}) %></p>

	<p><label for="recaptcha" class="required">Are You Human?</label><br />
	<%= recaptcha_tags :display => {:theme => 'clean'} %><br /></p>

	<p><%= submit_tag 'Sign up', :class => "signupbutton right" %></p>
	<% end -%>
	
	<%= link_to 'cancel', login_url %>
</div>
