<%= simple_form_for(@boat, :html => { :class => 'form-horizontal' }) do |f| %>
	<%= f.error_notification %>

	<div class="form-inputs">
		<%= f.input :name %>
		<%= f.association :hull, :prompt => false %>
		<%= f.association :usage, :prompt => false %>
		<%= f.association :weight, :prompt => false %>
	</div>

	<div class="form-actions">
		<%= f.button :submit, :class => 'btn-primary' %>
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")), boats_path, :class => 'btn' %>
	</div>
<% end %>
