<% title(t '.title', :default => "Boats") %>

<table class="table table-striped">
	<thead>
		<tr>
					<th>Name</th>
					<th>Hull</th>
					<th>Usage</th>
					<th>Weight</th>
					<th class="no_sort"><%=t '.actions', :default => t("helpers.actions") %></th>
		</tr>
	</thead>
	<tbody>
	<% @boats.each do |boat| %>
		<tr>
			<td><%= boat.name %></td>
			<td><%= boat.hull_id %></td>
			<td><%= boat.usage_id %></td>
			<td><%= boat.weight_id %></td>
			<td>
				<%= link_to t('.show', :default => t("helpers.links.show")), boat, :class => 'btn btn-mini btn-info' %>
				<%= link_to t('.edit', :default => t("helpers.links.edit")), edit_boat_path(boat), :class => 'btn btn-mini' %>
				<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
											boat,
											:method => :delete,
											:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
											:class => 'btn btn-mini btn-danger' %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")), new_boat_path, :class => 'btn btn-primary' %>