<!DOCTYPE html>
<html lang="en">
 	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title><%= content_for?(:title) ? yield(:title) :  @page_title || APP_NAME %></title>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
		<![endif]-->
		<%= csrf_meta_tags %>
		<%= javascript_include_tag "application" %>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= render :partial => 'layouts/favicons' %>
		<%= yield(:head) %>
	</head>
	<body class="<%= rand(2) == 1 ? 'single' : 'four' %>">
		<%= render :partial => 'shared/navbar' %> 
		<div class="container" id="main_content">
			<div class="content">
				<div class="row">
					<div class="span9">
						<%= bootstrap_flash %>
						<% if show_title? %>
						<div class="page-header">
							<%= content_tag :h1, yield(:title) %>
						</div>
						<% end %>
						<%= yield %>
					</div>
					<div class="span3 sidebar">
						<div class="well">
							<%= yield(:sidebar) %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="backgroundshifted"></div>
		<%= render :partial => 'shared/footer' %>
		<%= render :partial => 'shared/current_help' %>
	</body>
	<%= render :partial => 'layouts/site_javascripts' %>
</html>