<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta NAME="description" CONTENT="Rowing Scheduler, a web based scheduling application to help clubs form boats and inform their members about availability.">
	<meta NAME="keywords" CONTENT="rowing, sculling, row, aviron, rudern, racing calendar, crew, backsplash, catch, finish, drive, drivespeed, paddling, coxswain, cox, rower, results, news,  regatta, power 10, power ten, erg, ergs, ergometer, rowing machine, training, trials, shells, boats, eights, singles, fours, quads, scull, sculling, sculls, water sports, blades, riggers, scheduling, club">
	<link REL="SHORTCUT ICON" HREF="/images/favicon.ico">
	<title><%= page_title %></title>
	<%= auto_discovery_link_tag(:rss, rss_url('bulletins')) %>
	<%= auto_discovery_link_tag(:rss, "http://#{YOURSITE}/users/rss/#{current_user.login}") if logged_in? %>
	<%= stylesheet_link_tag 'scaffold', 'columns', 'messages', 'pagination' if RAILS_ENV == "development" %>
	<%= stylesheet_link_tag 'packed' if RAILS_ENV != "development" %>
	<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js' %>
	<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.2/scriptaculous.js' %>
	<%= javascript_include_tag 'application' %>
	<!--[if lt IE 7.]>
	<%= javascript_include_tag 'pngfix' %>
	<![endif]-->
	<%= yield(:head) %>
	<%= random_background_image %>
</head>
<body>
	<a name="top"></a>
	<% 
		divclass = "notice"
		style = 'display:none;'
		if !flash[:notice].nil? || !flash[:error].nil?
			style = 'display:block;'
		end
		divclass = "error" unless flash[:error].nil?
	-%>
	<div id="message" style="<%= style %>" onclick="toggle($('this'));">
		<div class="<%= divclass %>">
			<%= flash[:error] %>
			<%= flash[:notice] %>
		</div>
	</div>
	<div id="header">
		<%= render :partial => 'shared/pageheader' %>
		<%= render :partial => 'shared/tabmenu' %>
	</div>
	<div id="container">
		<%= yield  %>
	</div>
	<div id="footer">
		Originally Created for <a href="http://www.yarmouth-rowing.org">Yarmouth Rowing Club</a>.<br /><br />
		<a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">
		<img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/80x15.png" /></a>
		<br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-Noncommercial 3.0 License</a>.
	</div>
</body>
</html>
